<div class="content-wrapper">
    <div class="row">
        <div class="col-md-12">
            <button type="button" rel="tooltip" title="Add Task" class="btn btn-primary btn-sm add mb-3">
                Tambah Data
            </button>
            <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title mt-0"> Data Users</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover" id="datatable">
                            <thead class="text-primary">
                                <tr>
                                    <th>Nama Users</th>
                                    <th>Email</th>
                                    <th>Username</th>
                                    <th class="text-right">Aksi</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each results}}
                                <tr>
                                    <td>{{ name }}</td>
                                    <td>{{ email }}</td>
                                    <td>{{ username }}</td>
                                    <td class="text-right">
                                        <div class="dropdown">
                                            <button class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false" type="button">Aksi</button>
                                            <div class="dropdown-menu" role="menu">
                                                <a class="dropdown-item edit" role="presentation" href="javascript:void(0)" data-id="{{ id }}">
                                                     Edit
                                                </a>
                                                <a class="dropdown-item delete" role="presentation" href="javascript:void(0)}" data-id="{{ id }}">
                                                     Hapus
                                                </a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <form action="/insert_users" method="post">
        <div class="modal fade" id="myModalAdd" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Tambah User Baru</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>Nama Lengkap</label>
                            <input type="text" name="nama_lengkap" class="form-control" placeholder="ketikan nama lengkap" required>
                        </div>
                        <div class="form-group">
                            <label>Username</label>
                            <input type="text" name="username" class="form-control" placeholder="ketikan username" required>
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input type="email" name="email" class="form-control" placeholder="ketikan email" required>
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" name="password" class="form-control" placeholder="ketikan password" required>
                        </div>
                        <div class="form-group">
                            <label>Role Akses</label>
                            <select name="role" class="form-control" required>
                                <option value="">Pilih</option>
                                <option value="Admin">Admin</option>
                                <option value="Staff">Staff</option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary modal-close" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <form id="add-row-form" action="/delete_users" method="post">
        <div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="myModalLabel">Hapus Desa</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <strong>Anda yakin mau menghapus data ini?</strong>
                    </div>
                    <div class="modal-footer">
                        <input type="hidden" name="id" class="form-control id" required>
                        <button type="button" class="btn btn-danger modal-close btn-sm close" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary btn-sm">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<script src="/js/jquery-3.6.0.min.js"></script>
<script src="/js/bootstrap.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('body').on('click', '.add', function () {
            $('#myModalAdd').modal('show')
        })
        $('body').on('click', '.close', function () {
            $('#DeleteModal').modal('hide')
            $('#myModalAdd').modal('hide')
        })
        $('body').on('click', '.modal-close', function () {
            $('#DeleteModal').modal('hide')
            $('#myModalAdd').modal('hide')
        })
        $('body').on('click', '.delete', function () {
            var id = $(this).attr('data-id');
            $('#DeleteModal').modal('show');
            $('.id').val(id);
        })
        $('#datatable').DataTable();
    })
</script>